extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') â† Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 #{projects.project_name}

        p.lead.text-light
          | #{projects.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
          ul
          each item in projects.technologies   
            li #{item}

        if projects.live_link.length > 1
          a.button.expanded(href=projects.live_link) Live Demo
        a.button.expanded(href=projects.github_link) GitHub Repo
    
    img.image(src=projects.image_urls[0])
    img.image(src=projects.image_urls[1])
    if projects.image_urls.length > 1
      img.image(src=projects.image_urls[2])